*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(0, 44, 187);
}

header{
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 44, 187);
    color: seashell;
    }
}
header h1{
    display: inline-block;
    font-size: 100px;
}
header {
    padding-top: 15px;
    margin-right: 50px;
    float: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
header ul {
    list-style-type: none;
}
header ul li {
    display: inline-block;
    margin-left: 100px;
}