*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

header {
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    color: seashell;
    }
}
header h1{
    display: inline-block;
    font-size: 100px;
    
}
header {
    padding: 35px;
    font-size: 25px;
    margin:20px;
    border:1px;
    display: flex;
    flex-direction: row
    

}
header ul {
    list-style-type: none;
    float: right;
    box-sizing: border-box;
    padding: 16px;
    margin: 0px;
    
}

header ul li {
    display: inline-flex;
    margin-left: 100px;
}

section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(109, 104, 104);
    color: rgb(250, 238, 255);
}

section {
    padding: 35px;
    font-size: 15px;
    margin:100px;
    border:1px;
    display: flex;
    flex-direction: row
}

.section-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.section-sidebar > *:nth-child(1) {
    flex: 1 1 70%;
    min-width: 25ch;
}
.section-sidebar > *:nth-child(2) {
    flex: 1 1 30%;
    min-width: 15ch;
}


section h2 {
    display: 
    font-size: 25px;
}

section p {
    list-style-type: none;
    float: right;
    box-sizing: border-box;
    padding: 16px;
    margin: 0px;
}



