*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100% ;
    
}


header{
    background-color: black;
    margin: 0;
    font-size: 35px;
}

#navbar ul{
    list-style: none;
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

#navbar li{
    display: inline-block;
}

#navbar a{
    text-decoration: none;
    width: 160px;
    display: block;
    padding: 8px 8px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#navbar a:hover{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}
 
.wrapper {
    width: 100%;
}

.one h2{
    
    line-height: 44px;
    
}


@media only screen and (min-width: 360px) {
    
    header{
        background-color: black;
        font-size: 35px;
        border-radius: 40px;
    }
    
    #head-1{
        color: rgb(250, 238, 255);
        text-align: center;
        max-width: 100%;
    }
    
    #navbar ul{
        list-style: none;
        background: black;
        padding: 20px;
        margin: 0;
        text-align: center;
        border-radius: 40px;
    }
    
    #navbar li{
        display: inline-block;
    }
    
    #navbar a{
        text-decoration: none;
        width: 160px;
        display: block;
        padding: 8px 8px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    #navbar a:hover{
        background: #bdc3c7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    }
    
    section {
        padding: 35px;
        background-color: rgb(109, 104, 104);
        color: rgb(250, 238, 255);
        float: left;
        margin-block: 40px;
        border-radius: 40px;
        
    }
    
    section p {
        list-style-type: none;
        box-sizing: border-box;
    }
     
    
    .one {
        width: 100%;
        font-size: 15px;
        border: 1px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    
    .one h2{
        padding: 26px 0px 20px;
        font-size: 18px;
        
        
    }
    
    .one p{
        padding: 26px 0px 20px;
        line-height: 44px;
        padding-left: 25px;
        font-size: 15px;
    }


   
}



